<div fxLayout="row wrap" class="maxHeight" fxLayoutAlign="center center" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" fxFlex.xs="100">
    <form *ngIf="!hasAccount" #registerForm="ngForm" class="loginForm">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <h1 class="loginH1">Register</h1>
      </div>
      <div fxLayout="column wrap" class="loginForm" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field>
            <input matInput [(ngModel)]="register.name" name="name" placeholder="Name" required>

          </mat-form-field>
          <p *ngIf="isError" class="errorMsg">Paragraph</p>
        </div>
        <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field>
            <input matInput [(ngModel)]="register.surname" name="surname" placeholder="Surname" required>

          </mat-form-field>
          <p *ngIf="isError" class="errorMsg">Paragraph</p>
        </div>
        <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field>
            <input matInput [(ngModel)]="register.email" name="email" placeholder="Email" required>

          </mat-form-field>
          <p *ngIf="isError" class="errorMsg">Paragraph</p>
        </div>
        <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field>
            <input matInput [(ngModel)]="register.idNumber" name="idNumber" placeholder="ID Number" required oninput="this.value = this.value.replace(/[^0-9]/g, &apos;&apos;)" maxLength="13">

          </mat-form-field>
          <p *ngIf="isError" class="errorMsg">Paragraph</p>
        </div>
        <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field>
            <input matInput [(ngModel)]="register.password" name="password" placeholder="Password" required>

          </mat-form-field>
          <p *ngIf="isError" class="errorMsg">Paragraph</p>
        </div>
        <div fxLayout="row wrap" class="width60 marginTop2" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="loginBtn" (click)="reg()" [disabled]="registerForm.invalid">Register</button></div>
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="cancelBtn">Cancel</button></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <p (click)="switchForm(true)" class="switchForm">Already a user? <i>Login</i></p>
        </div>
      </div>
    </form>
    <form *ngIf="hasAccount" #loginForm="ngForm" class="loginForm">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <h1 class="loginH1">Login</h1>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="!sentCode">
        <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field>
            <input matInput [(ngModel)]="login.idNumber" name="idNumber" placeholder="ID Number" required oninput="this.value = this.value.replace(/[^0-9]/g, &apos;&apos;)" maxLength="13" #idNum>

          </mat-form-field>
          <p *ngIf="idError &amp;&amp; (loginForm.controls.idNumber.value.length &lt; 13)" class="errorMsg">Please enter a valid SA ID</p>
        </div>
        <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <mat-form-field>
            <input matInput [(ngModel)]="login.password" name="password" placeholder="Password" required #pwd>

          </mat-form-field>
          <p minLength="4" *ngIf="pswError" class="errorMsg">Password should be at least 4 characters long</p>
        </div>
        <div fxLayout="row wrap" class="width60 marginTop2" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="loginBtn" (click)="log(idNum.value, pwd.value)" [disabled]="loginForm.invalid">Login</button></div>
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="cancelBtn">Cancel</button></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <p (click)="switchForm(false)" class="switchForm">Don&apos;t have an account? <i>Register</i></p>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="sentCode">
        <div fxLayout="row wrap" class="width80 textAlign" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <h3>Please enter the 4 digit code from your email...</h3>
        </div>
        <div fxLayout="row wrap" class="width45" fxLayoutAlign="space-around center" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
            <mat-form-field>
              <input matInput required oninput="this.value = this.value.replace(/[^0-9]/g, &apos;&apos;)" maxLength="1" #code1>

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
            <mat-form-field>
              <input matInput required oninput="this.value = this.value.replace(/[^0-9]/g, &apos;&apos;)" maxLength="1" #code2>

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
            <mat-form-field>
              <input matInput required oninput="this.value = this.value.replace(/[^0-9]/g, &apos;&apos;)" maxLength="1" #code3>

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
            <mat-form-field>
              <input matInput required oninput="this.value = this.value.replace(/[^0-9]/g, &apos;&apos;)" maxLength="1" #code4>

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" class="width60 marginTop2" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="loginBtn" (click)="verifyCode(code1.value, code2.value, code3.value, code4.value)">Login</button></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
          <p (click)="switchForm(false)" class="switchForm">Don&apos;t have an account? <i>Register</i></p>
        </div>
      </div>
    </form>
  </div>
</div>