/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

/* Color Variables */

:root {
    --primaryColor: black;
    --secondaryColor: white;
    --primaryBackground: #f57c00;
    --primaryBackgroundLight: #ffcc80;
    --errorMessage: red;
}

.maxHeight {
    height: 100vh;
}

.textAlign {
    text-align: center;
}

.width100, .mat-form-field {
    width: 100%;
}

.width80 {
    width: 80%;
}

.width60 {
    width: 60%;
}

.width45 {
    width: 45%;
}

.marginTop2 {
    margin-top: 2em;
}

.marginTopBottom2 {
    margin: 2em 0;
}

.loginH1 {
    font-size: 3em;
    margin: .5em 0;
    color: orange;
}

.loginBtn, .editBtn:hover {
    background: var(--primaryBackground);
    color: var(--secondaryColor);
    width: 100%;
    cursor: pointer;
}

.cancelBtn {
    background: var(--primaryColor);
    color: var(--secondaryColor);
    width: 100%;
}

.switchForm {
    cursor: pointer;
}

.switchForm:hover, .logoText {
    color: var(--primaryBackground);
    font-weight: bold;
}

.logoText {
    font-size: larger;
    text-align: center;
}

.logo img {
    height: 8em;
}

.logoutIcon {
    font-size: xx-large;
}

.logoutIcon:hover {
    color: var(--secondaryColor);
}

.toolBar {
    height: 5em;
    background: var(--primaryColor);
    padding: 0 1em 0 .5em;
}

.homeTabGroup {
    height: calc(100% - 9em);
    width: 98%;
}

.homeTabGroup .mat-tab-body-wrapper, .tabInnerContainer {
    min-height: 95%
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar,
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--primaryBackground);
}

.userDetails {
    margin: .1em .3em;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.balance {
    height: 12em;
    width: 12em;
    border-radius: 50%;
    background: var(--primaryBackground);
    border: solid var(--primaryBackgroundLight) 5px;
    color: var(--secondaryColor);
}

.amount {
    font-size: larger;
}

.transactions {
    background: var(--primaryBackground);
    border: solid var(--primaryBackgroundLight) 3px;
    color: var(--secondaryColor);
    border-radius: 20px;
}

.transactContainer {
    margin-bottom: 1em;
}

.errorMsg {
    margin-top: -10px;
    color: var(--errorMessage);
}

.transCards {
    border: solid var(--primaryBackgroundLight) 5px;
    background: var(--primaryBackground);
    color: var(--secondaryColor);
    border-radius: 25px !important;
}

.transCards .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--secondaryColor);
}

.transCards .mat-form-field-label {
    color: var(--secondaryColor);
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--primaryColor);
}

.transCards .mat-form-field-appearance-legacy.mat-form-field.mat-focused .mat-form-field-underline {
    background-color: green;
}

.configCards:hover {
    cursor: pointer;
    border: solid var(--primaryBackground) 5px;
    background: var(--primaryBackgroundLight);
    color: var(--primaryBackground);
}

.editBtn {
    background: var(--secondaryColor);
    color: var(--primaryBackground);
    width: 100%;
}
