<div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" class="maxHeight" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" class="toolBar" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" class="logo" fxFlex="30" fxLayoutAlign="center start" fxShow="true" fxHide="false"><img imgSrc="Web/logo.png"></div>
      <div fxLayout="column wrap" fxLayoutAlign="center end" fxShow="true" fxHide="false">
        <mat-icon class="logoutIcon logoText" title="Logout" (click)="logout()">power_settings_new</mat-icon>
      </div>
    </div>
    <mat-tab-group class="homeTabGroup" mat-stretch-tabs>
      <mat-tab label="Balance">
        <div fxLayout="column wrap" class="tabInnerContainer" fxLayoutAlign="space-between center" fxShow="true" fxHide="false" *ngIf="showContent">
          <div fxLayout="row wrap" class="balance marginTop2" fxLayoutAlign="center center" fxShow="true" fxHide="false">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
              <p>Current Balance</p>
              <h1 class="textAlign amount">R {{fundvalue[0][&apos;fundvalueavailible&apos;]}}.00</h1>
            </div>
          </div>
          <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false" *ngIf="!first3Transactions.length">
            <div fxLayout="column wrap" class="width100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxShow="true" fxHide="false">
                <h3>No transactions yet...</h3>
              </div>
              <div fxLayout="row wrap" class="marginTop2 transactContainer" fxLayoutAlign="center center" fxShow="true" fxHide="false">
                <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="loginBtn" (click)="claim()">Claim Now</button></div>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" class="width100 threeTransactions" fxLayoutGap=".5em" fxLayoutAlign="center center" fxShow="true" fxHide="false" *ngIf="first3Transactions.length">
            <div fxLayout="row wrap" class="width100 transactions" fxLayoutAlign="space-between center" fxShow="true" fxHide="false" *ngFor="let trans of first3Transactions">
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start center" fxShow="true" fxHide="false">
                <mat-form-field>
                  <input matInput placeholder="Transaction Date" value="{{trans.transactionDate | slice:0:10}}" required readonly="true">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start center" fxShow="true" fxHide="false">
                <mat-form-field>
                  <input matInput placeholder="Transaction Value" value="R {{trans.transactionValue}}.00" required readonly="true">

                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" class="transactContainer width100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
              <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="loginBtn" (click)="claim()">Claim Now</button></div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Transaction">
        <div fxLayout="column wrap" class="marginTopBottom2" fxLayoutGap="2em" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <mat-card *ngFor="let trans of transactions[0]" class="width80 transCards">
            <mat-card-content>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <div fxLayout="row wrap" class="width100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" class="width60" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Openning Balance" value="R {{trans.openingBalance}}.00" required readonly="true">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start center" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Ref Number" value="{{trans.referenceNumber}}" required readonly="true">

                    </mat-form-field>
                  </div>
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Transaction Date" value="{{trans.transactionDate | slice:0:10}}" required readonly="true">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Transaction Time" value="{{trans.transactionTime}}" required readonly="true">

                    </mat-form-field>
                  </div>
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Transaction Type" value="{{trans.transactionType}}" required readonly="true">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Transaction Value" value="R {{trans.transactionValue}}.00" required readonly="true">

                    </mat-form-field>
                  </div>
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Closing Balance" value="R {{trans.closingBalance}}.00" required readonly="true">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" class="width100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" class="width100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <textarea matInput placeholder="Transaction Comment" value="{{trans.transactionComment}}" required [readonly]="true"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Configuration">
        <div fxLayout="column wrap" class="marginTopBottom2" fxLayoutGap="2em" fxLayoutAlign="center center" fxShow="true" fxHide="false">
          <mat-card *ngFor="let config of configurations[0]; let i = index;" class="width80 transCards configCards">
            <mat-card-content>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Contribution Percentage" value="{{config.contributionPercentage}}%" required readonly="{{config.readOnly}}">

                    </mat-form-field>
                  </div>
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Contribution Type" value="{{config.contributionType}}" required readonly="{{config.readOnly}}">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Contribution Value" value="R {{config.contributionValue}}.00" required readonly="{{config.readOnly}}">

                    </mat-form-field>
                  </div>
                  <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start center" fxShow="true" fxHide="false">
                    <mat-form-field>
                      <input matInput placeholder="Ref Number" value="{{config.referenceNumber}}" required readonly="{{config.readOnly}}">

                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row wrap" class="marginTop2" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
                  <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="editBtn" *ngIf="!config[&apos;showSubmit&apos;]" (click)="editConfig(config);">Edit Config</button><button mat-raised-button class="editBtn" *ngIf="config[&apos;showSubmit&apos;]" (click)="submitConfig(config)">Submit Config</button></div>
                  <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-raised-button class="cancelBtn" (click)="cancelConfigEdit(config)">Cancel</button></div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>